*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(25, 25, 30);
    color: rgb(220, 220, 220);
}
header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: rgb(20, 20, 25);
    padding-bottom: 5px;
}
main{
    margin: auto;
    width: 455px;
    padding: 10px;
    align-items: center;
}
h1{
    width: 50%;
    margin: auto;
}
#word{
    display: none;
}
hr{
    margin: 0 0 20px;
}
.drop{
    position: absolute;
    width: 150px;
    text-align: left;
    margin: 0;
    cursor: default;
    text-decoration: underline green;
    font-family: Arial, Helvetica, sans-serif;
}
.explanation{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30px;
    background-color: rgb(50, 50, 60);
    width: 300px;
    font-size: 20px;
    display: none;
    padding: 10px;
}
span{
    margin: 0 2px;
}
.drop:hover + .explanation{
    display: block;
}
.WrongLetter{
    background-color: rgb(100, 100, 100);
    color: white;
}
.WrongPlace{
    background-color: rgb(140, 140, 30);
    color: white;
}
.CorrectPlace{
    background-color: rgb(30, 140, 30);
    color: white;
}
.WrongLetter, .WrongPlace, .CorrectPlace, .hcWrongLetter, .hcWrongPlace, .hcCorrectPlace{
    margin: 5px;
    border-radius: 10px;
}
.nomargin{
    margin-bottom: -15px;
}

button{
    background-color: green;
    color: white;
    border: outset 5px;
    border: 0px;
    height: 50px;
    width: 200px;
    display: block;
    margin: 10px auto 0;
    font-size: 25px;
}
button:hover{
    background-color: rgb(0, 110, 0);
}
button:active{
    border: inset 5px green;
}
.className {
    color: rgb(200, 200, 200);
    background-color: rgb(50, 50, 60);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    border: 1px solid rgb(150, 150, 150);
    height: 65px;
    width: 65px;
    margin: 5px 3px;
    text-align: center;
}
.hcWrongLetter{
    background-color: rgb(100, 100, 100);
    color: black;
}
.hcWrongPlace{
    background-color: rgb(50, 100, 200);
    color: black;
}
.hcCorrectPlace{
    background-color: rgb(200, 100, 50);
    color: black;
}
#formList1, #formList2 {
    list-style-type: none;
}